header{
	color: #d84315
}
footer {
	background-color: #d84315;
	margin-left: 300px;
    margin-right: 300px;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ff8a65;
  overflow-x: hidden;
  padding-top: 20px;
}
.aside{
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ff8a65;
  overflow-x: hidden;
  padding-top: 20px;
}
.main {
  margin-left: 300px;
  margin-right: 300px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

#div{
    column-count:2;
    column-gap:40px;
    column-rule:3px;
	border: 2px solid;
}

audio, button{
	box-shadow: 5px 5px 3px red;
}

body{
	background: url("white-stone-1280.gif") no-repeat fixed center;
}




